//output:LandingPage.html, pretty:true
doctype html
html
    head
        link(type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css")
        link(type="text/css" rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
        link(type="text/css" rel="stylesheet" href="LandingPage.css")
        script(type="text/javascript" src="bootstrap/js/jquery.min.js")
        script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
        script(type="text/javascript" src="LandingPage.js")
        //- script(type="text/javascript" src="test.js")
        meta(charset="UTF-8")
        title Twitter
        
                                   
    body
        nav(class="navbar navbar-default navbar-fixed-top ")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class ="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false")
                        span(class="sr-only")   
                            |Toggle Navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                                            
                    a(class="navbar-brand")
                        |Twitter
            
                div(class="collapse navbar-collapse")
                    form(class="navbar-form navbar-center" role="search")
                        div(class="form-group")
                            input(type="text" class="form-control" placeholder="Search")
                        button(type="submit" class="btn btn-default")
                            |Submit
                    
                    ul(class="nav navbar-nav navbar-right")
                        li
                            button(id="tweet" type="button" data-toggle="modal" data-target=".tweet-box")
                                span(class="glyphicon glyphicon-pencil" style="font-size:2em;")
                        li
                            button(id="signout" type="button" data-toggle="modal" data-target=".signout-box")
                                i(class="fa fa-sign-out" style="font-size:2em;")
        
        div(class="modal tweet-box" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="text-title") New Tweet
                    div(class="modal-body")
                        form
                            div(class="form-group")
                                textarea(class="form-control" id="tweet-text")
                    div(class="modal-footer")
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="create-tweet")
                            span(class="glyphicon glyphicon-send" style="font-size:2em;" class="text-center")
                            
        div(class="modal signout-box" role="dialog" tabindex="-1")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-body")
                        h4 Signout?
                    div(class="modal-footer")
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="cancel-signout")
                            |Cancel
                        button(class="btn btn-default" type="button" data-dismiss="modal" id="confirm-signout")
                            |Confirm
                            
        div(class="tab-content")  
            div(class="tab-pane active" id="timeline-pane" role="tabpanel")
                
            
            div(class="tab-pane" id="notifications-pane" role="tabpanel")
                div(class="row-fluid")
                    div(class="col-sm-6 col-sm-offset-3")
                        div(class="row")
                            div(class="col-sm-2")
                                |ggfgf
                            div(class="col-sm-10")
                                div(class="panel panel-default")
                                    div(class="panel-body")
                                        |notif

         
            div(class="tab-pane" id="messages-pane" role="tabpanel")
                div(class="row-fluid")
                    div(class="col-sm-6 col-sm-offset-3")
                        div(class="row")
                            div(class="col-sm-2")
                                |fdfdd
                            div(class="col-sm-10")
                                div(class="panel panel-default")
                                    div(class="panel-body")
                                        |message
            
            div(class="tab-pane" id="lists-pane" role="tabpanel")
                div(class="row-fluid")
                    div(class="col-sm-6 col-sm-offset-3")
                        div(class="row")
                            div(class="col-sm-2")
                                |ggfgf
                            div(class="col-sm-10")
                                div(class="panel panel-default")
                                    div(class="panel-body")
                                        |list
                                        
            div(class="tab-pane" id="my-tweets-pane" role="tabpanel")
                div(class="row-fluid")
                    div(class="col-sm-6 col-sm-offset-3")
                        div(class="row")
                            div(class="col-sm-2")
                                |fdfdd
                            div(class="col-sm-10")
                                div(class="panel panel-default")
                                    div(class="panel-body")
                                        |my Tweets
    
    
    
            div(class="tab-pane" id="profile-pane" role="tabpanel")
                .container
                    .row-fluid
                        .col-sm-2.col-sm-offset-2
                            img(name="profile-image" width='150' height='150')
                        .col-sm-4
                            form#profile-form(method='POST')
                                .form-group
                                    label Name
                                    input.form-control(type='text', name='name', size='30')
                                    br
                                    //- label Username
                                    //- input.form-control(type='text', name='username', value='#{result.user.username}', size='30')
                                    //- br
                                    //- label Email
                                    //- input.form-control(type='text', name='email', value='#{result.user.email}', size='30')
                                    //- br
                                    //- label Language
                                    //- input.form-control(type='text', name='language', value='#{result.user.language}', size='30')
                                    //- br
                                    //- label Country
                                    //- input.form-control(type='text', name='country', value='#{result.user.country}', size='30')
                                    //- br
                                    //- label Description
                                    //- input.form-control(type='text', name='bio', value='#{result.user.bio}', size='30')
                                    //- br
                                    //- label Website
                                    //- input.form-control(type='text', name='website', value='#{result.user.website}', size='30')
                                    //- br
                                    //- label Picture link
                                    //- input.form-control(type='text', name='avatar_url', value='#{result.user.avatar_url}', size='30')
                                    //- br
                                    //- label Overlay
                                    //- input.form-control(type='text', name='overlay', value='#{result.user.overlay}', size='30')
                                    //- br
                                    //- label Link_color
                                    //- input.form-control(type='text', name='link_color', value='#{result.user.link_color}', size='30')
                                    //- br
                                    //- label Background_color
                                    //- input.form-control(type='text', name='background_color', value='#{result.user.background_color}', size='30')
                                    //- br
                                    //- label Private Account?
                                    //- input.form-control(type='text', name='protected_tweets', value='#{result.user.protected_tweets}', size='30')
                                    //- br
                                    button#save-profile.btn.btn-default.pull-right(name='Submit') Save Changes
                                         

        nav(class="navbar navbar-default navbar-fixed-bottom")
            ul(class="nav nav-pills nav-justified")
                li(role="presentation" class="active" id="timeline")
                    a(href="#timeline-pane" data-toggle="pill")
                        |Timeline
                li(role="presentation"  id="notifications")
                    a(href="#notifications-pane" data-toggle="pill")
                        |Notifications
                
                li(role="presentation" id="messages")
                    a(href="#messages-pane" data-toggle="pill")
                        |Messages
                    
                li(role="presentation" id="lists")
                    a(href="#lists-pane" data-toggle="pill")
                        |Lists
                
                li(role="presentation" id="my-tweets")
                    a(href="#my-tweets-pane" data-toggle="pill")
                        |My Tweets
                        
                li(role="presentation" id="profile")
                    a(href="#profile-pane" data-toggle="pill")
                        |Edit Profile
                            
